html,body
{
  overflow-x: hidden; 
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #212121;
  line-height: 1.4;
  
}

/* Mobile Nav Bar; */
.logo {
  position: static;
  float: left;
  display: inline-block;
  vertical-align: top;
  width: 78px;
  

  margin-top: 6.5px;  
  background-color: transparent;
}
.nav_wrapper {
  position: absolute;
  width: 100%;  
  height: 90px; 
  background-color: #f5eba9; 
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f5eba9;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .nav_wrapper{
  clip-path: circle(75%);
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background-color: #f5eba9;
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  background: #fff;
  color: #dd1616;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.nav_wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  
}
.nav_wrapper ul li{
  margin: 15px 0;
}
.nav_wrapper ul li a{
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
  
}

.nav_wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.nav_wrapper ul li a:hover{
  color: #dd1616;
}
input[type="checkbox"]{
  display: none;
}
.desktopnav {display: block;}
.menu-btn {display: none;}
.nav_wrapper {display: none;}

@media screen and (max-width: 768px) {

  .desktopnav {display: none;}
.menu-btn {display: block;}
.nav_wrapper {display: block;}

}
/* Desktop Nav Bar; */
.desktopnav{
  padding-top: 35px;
  padding-right: 100px;
}
.nav_links{
  float: right;
  vertical-align: top;
  margin-right: 20px;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 600;
  font-size: 18px;
  font-style: bold;
  color: #F9F9F9;
  text-decoration: none;
  background:none !important;
}
.nav_links:hover { 
  color: #ff3235;
}

/* Front Page Button */
.button {
  position: fixed;
  font-weight: 300;
  font-family: 'Gothic A1', sans-serif;
  color:#ffffff;
  background-color: #ff3235;
  border: none;
  color: white;
  padding: 20px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  top: 50%;
  left: 35%;
  width: fit-content;
  

 
}
.button:hover { 
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/* from a minimum width of 650px and bigger */
@media (min-width: 300px) {
  .button {
  margin-top: 110px;
  position: absolute;
  }
}
/* from a minimum width of 650px and bigger */
@media (min-width: 650px) {
  .button {
    font-size: 16px;
    padding: 20px;
    margin-top: 130px;
    left: 45%;

  }
}
/* from a minimum width of 650px and bigger */
@media (min-width: 1024px) {
  .button {
    font-size: 16px;
    padding: 20px;
    margin-top: 130px;
 
  }
}

/* Home Page Background Img */

.bgimg { 
  background-image: url(images/Hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
}
@media only screen and (max-width: 500px) {
  .bgimg {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    background-image: url(images/Hero-mobile.jpg);
  }
}


/*Homepage Text & Button */

.headline{
  font-family: 'Gothic A1', sans-serif;
  font-weight: 800;
  color: #ffffff;
  font-size: 70px;
  position: absolute;
  top: 38%;
  left: 45%;
}
/* from a minimum width of 400px and bigger */
@media (min-width: 300px) {
  .headline {
    font-size: 50px;
    margin-left: -110px;
    position: absolute;
  }
}

/* from a minimum width of 650px and bigger */
@media (min-width: 650px) {
  .headline {
    font-size: 70px;
    margin-left: -100px;
    position: absolute;
  }
}

/* from a minimum width of 650px and bigger */
@media (min-width: 1000px) {
  .headline {
    top: 40%;
  }
}


section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
  
}

.content {
  display: table-cell;
  vertical-align: middle;
}


.heading-4 {
  font-family: 'Gothic A1', sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 24px;
  align-self: flex-start;
}
.text-block-3 {
  font-family: 'Gothic A1', sans-serif;
  font-weight: 100;
  color: #ffffff;
  font-size: 18px;
  align-self: flex-start;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
}

.midimage{
  text-align: right;
}

.mid{
  height: 100vh;
  background-color: #b7eb8d;
}
.fotsub{
  height: 70vh;
  background-color: #f5eba9;
}


p{
  font-weight: 100;
  font-family: 'Gothic A1', sans-serif;
  color:#494949;
}


.fot{
  height: 30vh;
  background-color: #f5eba9;
}
.fotimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-right: 15%;
  text-align: center;
}



.cheesebtn{
  font-size: 16px;
  font-weight: 300;
  font-family: 'Gothic A1', sans-serif;
  color:#ffffff;
  background-color: #ffa013;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;

  
}
.cheesebtn:hover { 
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

.contactform{
  padding-top: 50px;
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 100;
  background: #ffffff;
  color: #b3aca7;
  font-size: 18px;
}



body {

  font-family: 'Gothic A1', sans-serif;
  font-weight: 300;
  background: #ffffff;
  color: #b3aca7;
}


.contacthead {
  color: #ff3235;
  position: relative;
  font-weight: 600;
  margin: 150px 0 25px 0;
  font-size: 30px;
  text-align: center;
  letter-spacing: 2px;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #725959;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #ff3235;
  color: #e2dedb;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #ff3235;
  color: #e2dedb;
}

#submit {
  width: 502px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #000000;
}

/* Menu Page */
.buynow {
  height: auto;
  overflow: hidden;
  padding-bottom: 100px;
}

.rightmenu{
  text-align: center;
  padding-top: 300px;
   width: 40%;
   height: 55vh;
   float: right;
   background: #ffffff;
   
}

.leftmenuimg {
  padding-top: 220px;
  text-align: center;
   float: none; /* not needed, just for clarification */
   background: #ffffff;
   /* the next props are meant to keep this block independent from the other floated one */
   width: auto;
   overflow: hidden;
}
